{% extends 'base.html.twig' %}
{% block body %}

{% if categorie.image %}
    <img src="{{ asset('pictures/' ~ categorie.image) }}" 
         alt="{{ categorie.libelle }}" 
         class="img-fluid mx-auto d-block my-4" 
         style="max-height: 300px; object-fit: cover;">
{% endif %}

<div class="container my-5">
    <div class="row justify-content-center g-4">
        {% for article in articles %}
            <div class="category-card-in col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
                <div class="CardArticle p-3 text-center" style="width: 18rem;">
                    <img src="{{ asset('pictures/' ~ article.image) }}" 
                         alt="{{ article.libelle }}" 
                         class="img-fluid rounded d-block mx-auto" 
                         style="max-height: 200px; object-fit: cover;">
                    <p class="anonymous-pro-bold">{{ article.libelle }}</p>
                    <p class="anonymous-pro-regular">{{ article.description }}</p>
                    <p class="anonymous-pro-regular">{{ article.prix }} $</p>
                    <a href="/details/{{ article.id }}" class="btn ButtonClass anonymous-pro-bold">Détails</a>
                </div>
            </div>
        {% else %}
            <p class="text-center text-muted">Aucun article dans cette catégorie 😢</p>
        {% endfor %}
    </div>
</div>

{% endblock %}