 {# --- Footer --- #}
    <footer>
      <div class="row">
        <div class="col-lg-3 col-xs-12 text-center text-white">
          <p class="anonymous-pro-bold fs-4">À propos</p><br>
          <p class="anonymous-pro-regular fs-5">Qui sommes-nous?</p><br>
          <p class="anonymous-pro-regular fs-5">Offre étudiante</p><br>
          <p class="anonymous-pro-regular fs-5">Blog</p><br>
          <p class="anonymous-pro-regular fs-5">Valeurs de Crafty Crochet</p><br>
        </div>
        <div class="col-lg-3 col-xs-12 text-center text-white">
          <p class="anonymous-pro-bold fs-4">Besoin d'aide</p><br>
          <p class="anonymous-pro-regular fs-5">
            <a class="text-white" href="{{ path('app_mail')}}">Contact</a>
          </p><br>
          <p class="anonymous-pro-regular fs-5">Service-Après-Vente</p><br>
          <p class="anonymous-pro-regular fs-5">FAQs</p><br>
        </div>

        <div class="col-lg-3 col-xs-12 text-center text-white">
          <p class="anonymous-pro-bold fs-4">Loi et Ordre</p><br>
          <p class="anonymous-pro-regular fs-5">Conditions Générales de vente</p><br>
          <p class="anonymous-pro-regular fs-5">Conditions générales d'utilisation</p><br>
          <p class="anonymous-pro-regular fs-5">Cookies</p><br>
          <p class="anonymous-pro-regular fs-5">Achat 100% sécurisé</p><br>
        </div>

        <div class="col-lg-3 col-xs-12 text-center text-white">
          <p class="anonymous-pro-bold fs-4">Restons en contact!</p><br>
          <p class="anonymous-pro-regular fs-5">+33 01 10 10 10 10</p><br>
          <p class="anonymous-pro-regular fs-5">Adresse :</p><br>
          <p class="anonymous-pro-regular fs-5">Inscrivez-vous à la Newsletter</p><br>
        </div>
      </div>

      <div class="text-center anonymous-pro-regular mt-3 row justify-content-center">
       <a href="#" class="col-3 SocialIcon p-3"><img src="{{ asset('/pictures/FacebookIcon.png') }}" alt="Facebook" ></a><br>
        <a href="#" class="col-3 SocialIcon p-3"><img src="{{ asset('/pictures/TiktokIcon.png') }}" alt="Facebook"></a><br>
       <a href="#" class="col-3 SocialIcon p-3"><img src="{{ asset('/pictures/InstagramIcon.png') }}" alt="Facebook"></a><br>
       <a href="#" class="col-3 SocialIcon p-3"><img src="{{ asset('/pictures/YoutubeIcon.png') }}" alt="Facebook"></a> <br>
      </div>
    </footer>