<div class="position-relative">
<a href="{{ path('app_home') }}">
<img class="rounded logo mx-auto d-block" src="/pictures/CraftyCrochetLogo.svg" alt="Crafty Crochet Logo">
</a>
<nav class="navbar navbar-expand-lg justify-content-center m-5 ">
  <div class="navbar-nav text-center nav-links" id="navLinks">
  <!-- Bouton home -->
    <a class="nav-link px-3" href="{{ path('app_home') }}">
      <img 
        src="{{ app.request.attributes.get('_route') == 'app_home' 
          ? asset('/pictures/SecondaryHome.svg') 
          : asset('/pictures/PrimaryHome.svg') }}" 
        alt="Home" 
        class="nav-btn"
      >
    </a>
     <!-- Bouton catégories -->
    <a class="nav-link px-3" id="categorieBtn" href="{{ path('app_categories') }}">
      <img 
        src="{{ app.request.attributes.get('_route') == 'app_categories' 
          ? asset('/pictures/SecondaryCategories.svg') 
          : asset('/pictures/PrimaryCategories.svg') }}" 
        alt="Categories" 
        class="nav-btn"
      >
    </a>
    <!-- Bouton contact -->
    <a class="nav-link px-3" href="{{ path('app_mail')}}">
      <img 
        src="{{ app.request.attributes.get('_route') == 'app_mail' 
          ? asset('/pictures/SecondaryContact.svg') 
          : asset('/pictures/PrimaryContact.svg') }}" 
        alt="Contact" 
        class="nav-btn"
      >
    </a>
    <!-- Bouton conexion -->
    <a class="nav-link px-3" href="{{ path('app_login')}}">
      <img 
        src="/pictures/PrimaryLogin.svg" 
        alt="Login" 
        class="nav-btn"
      >
    </a>
   <!-- Icône panier avec badge -->
      <a href="{{ path('app_panier') }}" class="nav-link px-3 panier-link position-relative">
        <img 
          src="/pictures/Panier.svg" 
          alt="Panier" 
          class="panier-icon"
        >

        {% if cartCount > 0 %}
          <span class="badge-panier position-absolute top-0 start-100 translate-middle">
            {{ cartCount }}
          </span>
        {% endif %}
      </a>
  </div>

  <!-- Bouton burger -->
  <button class="burger d-lg-none position-absolute top-0 start-0 m-3 border-0 bg-transparent p-3" id="burger">
    <img src="{{ asset('pictures/Burger.svg') }}" alt="Menu" id="burgerIcon" style="width: 8vw; max-width: 50px;">
  </button>
</nav>

</div>