<div class="position-relative">
<img class="rounded logo mx-auto d-block" src="/pictures/CraftyCrochetLogo.svg" alt="Crafty Crochet Logo">

<nav class="navbar navbar-expand-lg justify-content-center m-5 ">
  <div class="navbar-nav text-center nav-links" id="navLinks">
    <a class="nav-link px-3" href="{{ path('app_home') }}">
      <img 
        src="{{ app.request.attributes.get('_route') == 'app_home' 
          ? asset('/pictures/SecondaryHome.svg') 
          : asset('/pictures/PrimaryHome.svg') }}" 
        alt="Home" 
        class="nav-btn"
      >
    </a>
    <a class="nav-link px-3" href="{{ path('app_categories') }}">
      <img 
        src="{{ app.request.attributes.get('_route') == 'app_categories' 
          ? asset('/pictures/SecondaryCategories.svg') 
          : asset('/pictures/PrimaryCategories.svg') }}" 
        alt="Categories" 
        class="nav-btn"
      >
    </a>
    <a class="nav-link px-3" href="{{ path('app_mail')}}">
      <img 
        src="{{ app.request.attributes.get('_route') == 'app_mail' 
          ? asset('/pictures/SecondaryContact.svg') 
          : asset('/pictures/PrimaryContact.svg') }}" 
        alt="Contact" 
        class="nav-btn"
      >
    </a>
    <a class="nav-link px-3" href="#">
      <img 
        src="/pictures/PrimaryLogin.svg" 
        alt="Login" 
        class="nav-btn"
      >
    </a>
    <a class="nav-link px-3" href="{{ path('app_panier')}}">
      <img 
        src="/pictures/Panier.svg" 
        alt="Panier" 
        class="nav-btn"
      >
    </a>
  </div>

  <!-- Bouton burger -->
  <button class="burger d-lg-none position-absolute top-0 start-0 m-3 border-0 bg-transparent p-3" id="burger">
    <img src="{{ asset('pictures/Burger.svg') }}" alt="Menu" id="burgerIcon" style="width: 8vw; max-width: 50px;">
  </button>
</nav>

</div>